@import './scss/variables';
@import './scss/fonts';

body {
  background: $bg-color;
  margin: 0;
}

.app {
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    color: #204220;
    font-size: 40px;
    line-height: 160%;
    margin: 0 0 40px 0;
  }

  .usd {
    height: 124px;
    width: 300px;
  }
}
